@import "tailwindcss";

body {
  background-color: rgb(255, 137, 137);
  color: white;
}

.card{
  border:1px solid rgb(13, 13, 13);
  padding:1rem;
  border-radius:0.5rem;
  background-color: rgba(150, 2, 2, 0.678);
}